In [40]:
import numpy as np
import pandas as pd

In [41]:
#Upload DataFrame

df = pd.read_csv("data\diabetes.csv")

In [42]:
#Extracting information about DataFrame

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [43]:
#Printing DataFrame

df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [44]:
# Apply for column Pregnancies method 'value_counts' to look how many unique values in the column.

df['Pregnancies'].value_counts()

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: Pregnancies, dtype: int64

In [45]:
# Transform values in the Dictionary

dict(df['Pregnancies'].value_counts())

{1: 135,
 0: 111,
 2: 103,
 3: 75,
 4: 68,
 5: 57,
 6: 50,
 7: 45,
 8: 38,
 9: 28,
 10: 24,
 11: 11,
 13: 10,
 12: 9,
 14: 2,
 15: 1,
 17: 1}

In [46]:
# Extracting information of the mean BloodPressure on quantity of Pregnancies

for key in dict(df['Pregnancies'].value_counts()):
    print(f"{key} - {df[df['Pregnancies']==key]['BloodPressure'].mean()}")

1 - 67.7925925925926
0 - 67.15315315315316
2 - 63.25242718446602
3 - 66.58666666666667
4 - 70.02941176470588
5 - 76.21052631578948
6 - 68.42
7 - 70.77777777777777
8 - 75.1842105263158
9 - 77.89285714285714
10 - 70.20833333333333
11 - 74.18181818181819
13 - 73.8
12 - 76.33333333333333
14 - 70.0
15 - 70.0
17 - 72.0

In [47]:
df.groupby(['Pregnancies']).mean()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,,,,,,,,
0,123.000000,67.153153,22.270270,81.675676,34.290090,0.520838,27.603604,0.342342
1,112.748148,67.792593,24.437037,98.674074,31.372593,0.486496,27.370370,0.214815
2,110.796117,63.252427,21.601942,85.844660,30.583495,0.491660,27.194175,0.184466
3,123.586667,66.586667,20.080000,87.453333,30.425333,0.432147,29.026667,0.360000
4,125.117647,70.029412,15.882353,69.441176,32.141176,0.446353,32.779412,0.338235
5,118.859649,76.210526,17.385965,57.298246,33.192982,0.396421,39.035088,0.368421
6,120.800000,68.420000,17.640000,63.580000,30.290000,0.429520,39.340000,0.320000
7,136.444444,70.777778,20.288889,84.466667,32.631111,0.443622,41.111111,0.555556
8,131.736842,75.184211,17.315789,92.815789,31.568421,0.504711,45.368421,0.578947
9,131.392857,77.892857,20.892857,62.428571,31.707143,0.550679,44.178571,0.642857
10,120.916667,70.208333,15.708333,34.791667,30.641667,0.454167,42.666667,0.416667
11,126.454545,74.181818,21.727273,65.454545,38.563636,0.522545,44.545455,0.636364
12,113.555556,76.333333,27.111111,112.555556,32.344444,0.444333,47.444444,0.444444
13,125.500000,73.800000,17.300000,27.900000,35.000000,0.463300,44.500000,0.500000
14,137.500000,70.000000,27.500000,92.000000,35.100000,0.312000,42.000000,1.000000
15,136.000000,70.000000,32.000000,110.000000,37.100000,0.153000,43.000000,1.000000
17,163.000000,72.000000,41.000000,114.000000,40.900000,0.817000,47.000000,1.000000

In [48]:
df.groupby(['Pregnancies'])['BloodPressure'].mean()

Pregnancies
0     67.153153
1     67.792593
2     63.252427
3     66.586667
4     70.029412
5     76.210526
6     68.420000
7     70.777778
8     75.184211
9     77.892857
10    70.208333
11    74.181818
12    76.333333
13    73.800000
14    70.000000
15    70.000000
17    72.000000
Name: BloodPressure, dtype: float64

In [49]:
# Converting integer in string

df['Outcome'] = df['Outcome'].map({0: 'false', 1: 'true'})

In [50]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,true
1,1,85,66,29,0,26.6,0.351,31,false
2,8,183,64,0,0,23.3,0.672,32,true
3,1,89,66,23,94,28.1,0.167,21,false
4,0,137,40,35,168,43.1,2.288,33,true
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,false
764,2,122,70,27,0,36.8,0.340,27,false
765,5,121,72,23,112,26.2,0.245,30,false
766,1,126,60,0,0,30.1,0.349,47,true
767,1,93,70,31,0,30.4,0.315,23,false

In [51]:
df_copy=df.copy()

In [52]:
df['Outcome'] = df['Outcome'].map({'true': 1, 'False': 0})

In [53]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1.0
1,1,85,66,29,0,26.6,0.351,31,NaN
2,8,183,64,0,0,23.3,0.672,32,1.0
3,1,89,66,23,94,28.1,0.167,21,NaN
4,0,137,40,35,168,43.1,2.288,33,1.0
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,NaN
764,2,122,70,27,0,36.8,0.340,27,NaN
765,5,121,72,23,112,26.2,0.245,30,NaN
766,1,126,60,0,0,30.1,0.349,47,1.0
767,1,93,70,31,0,30.4,0.315,23,NaN

In [54]:
df = df_copy.copy()

In [55]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,true
1,1,85,66,29,0,26.6,0.351,31,false
2,8,183,64,0,0,23.3,0.672,32,true
3,1,89,66,23,94,28.1,0.167,21,false
4,0,137,40,35,168,43.1,2.288,33,true
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,false
764,2,122,70,27,0,36.8,0.340,27,false
765,5,121,72,23,112,26.2,0.245,30,false
766,1,126,60,0,0,30.1,0.349,47,true
767,1,93,70,31,0,30.4,0.315,23,false

In [56]:
# Converting string in integer

df['Outcome'] = df['Outcome'].map({'true': 1, 'false': 0})

In [57]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [58]:
# Creating new column Pregnancies

Pregnancies_column = df['Pregnancies'].values

In [59]:
# Deleting column Pregnancies from DataFrame

df = df.drop(['Pregnancies'], axis=1)

In [60]:
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,32,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [61]:
# Add column Pregnancies into DataFrame

df['Pregnancies'] = Pregnancies_column

In [62]:
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Pregnancies
0,148,72,35,0,33.6,0.627,50,1,6
1,85,66,29,0,26.6,0.351,31,0,1
2,183,64,0,0,23.3,0.672,32,1,8
3,89,66,23,94,28.1,0.167,21,0,1
4,137,40,35,168,43.1,2.288,33,1,0
...,...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0,10
764,122,70,27,0,36.8,0.340,27,0,2
765,121,72,23,112,26.2,0.245,30,0,5
766,126,60,0,0,30.1,0.349,47,1,1
767,93,70,31,0,30.4,0.315,23,0,1

In [63]:
# Mixing data in the DataFrame

df = df.sample(frac=1)

In [64]:
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Pregnancies
562,87,68,34,77,37.6,0.401,24,0,1
7,115,0,0,0,35.3,0.134,29,0,10
677,93,60,0,0,35.3,0.263,25,0,0
232,79,80,25,37,25.4,0.583,22,0,1
74,79,75,30,0,32.0,0.396,22,0,1
...,...,...,...,...,...,...,...,...,...
499,154,74,32,193,29.3,0.839,39,0,6
371,118,64,23,89,0.0,1.731,21,0,0
92,81,78,40,48,46.7,0.261,42,0,7
246,122,68,0,0,31.2,0.258,41,0,10
355,165,88,0,0,30.4,0.302,49,1,9

In [65]:
# Extracting information from DataFrame obout how many people in our DataFrame have normal BloodPressure. 
#Info - A normal blood pressure level is less than 120/80 mmHg

df['normal_BloodPressure'] = df['BloodPressure'].apply(lambda x: x > 80 and x < 120)

In [66]:
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Pregnancies,normal_BloodPressure
562,87,68,34,77,37.6,0.401,24,0,1,False
7,115,0,0,0,35.3,0.134,29,0,10,False
677,93,60,0,0,35.3,0.263,25,0,0,False
232,79,80,25,37,25.4,0.583,22,0,1,False
74,79,75,30,0,32.0,0.396,22,0,1,False
...,...,...,...,...,...,...,...,...,...,...
499,154,74,32,193,29.3,0.839,39,0,6,False
371,118,64,23,89,0.0,1.731,21,0,0,False
92,81,78,40,48,46.7,0.261,42,0,7,False
246,122,68,0,0,31.2,0.258,41,0,10,False
355,165,88,0,0,30.4,0.302,49,1,9,True

In [67]:
df['normal_BloodPressure'].value_counts()

False    604
True     164
Name: normal_BloodPressure, dtype: int64

In [68]:
df['normal_BloodPressure'] = df['normal_BloodPressure'].map({False: 0, True: 1})

In [69]:
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Pregnancies,normal_BloodPressure
562,87,68,34,77,37.6,0.401,24,0,1,0
7,115,0,0,0,35.3,0.134,29,0,10,0
677,93,60,0,0,35.3,0.263,25,0,0,0
232,79,80,25,37,25.4,0.583,22,0,1,0
74,79,75,30,0,32.0,0.396,22,0,1,0
...,...,...,...,...,...,...,...,...,...,...
499,154,74,32,193,29.3,0.839,39,0,6,0
371,118,64,23,89,0.0,1.731,21,0,0,0
92,81,78,40,48,46.7,0.261,42,0,7,0
246,122,68,0,0,31.2,0.258,41,0,10,0
355,165,88,0,0,30.4,0.302,49,1,9,1

In [70]:
df.groupby(['normal_BloodPressure'])['Outcome'].value_counts()

normal_BloodPressure  Outcome
0                     0          413
                      1          191
1                     0           87
                      1           77
Name: Outcome, dtype: int64

In [71]:
#def fun (x):
#    return 'not-normal' if x < 80 of x > 120 else 'normal'

In [72]:
#df['normal_BloodPressure'] = df(BloodPressure).apply(fun)